a {
    cursor: pointer;
}

a:hover {
    background-color: #f8f9fa;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.body {
    flex: 1;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-title {
    display: flex;
    align-self: center;
}

.page-search {
    display: flex;
    align-self: center;
    width: 300px;
}

.page-actions {
    display: flex;
    align-content: center;
}

.action-button {
    display: flex;
    align-self: center;
    cursor: pointer;
    color: #007bff;
    margin-left: 1rem;
}

.buffer-top {
    margin-top: 1rem;
}

.buffer-bottom {
    margin-bottom: 1rem;
}
