a {
    cursor: pointer;
}

a:hover {
    background-color: #f8f9fa;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.body {
    flex: 1;
}

.search-input {
    max-width: 360px;
    margin: auto;
}

.buffer-top {
    margin-top: 1rem;
}

.buffer-bottom {
    margin-bottom: 1rem;
}

.action-icon {
    cursor: pointer;
    color: #007bff;
    margin-left: 1rem;
}
